apiVersion: v1
kind: Service
metadata:
  name: jellyseerr
  labels:
    app: jellyseerr
spec:
  type: ClusterIP
  ports:
    - port: 5055
      targetPort: 5055
      name: http
  selector:
    app: jellyseerr

