apiVersion: v1
kind: Secret
metadata:
  name: nuke-secret
type: Opaque
stringData:
  MEMPOOL_URL: "https://mempool.space"
  NEXT_PUBLIC_BASE_URL: "http://YOUR_BASE_URL_HERE"
  ORDISCAN_URL: "https://api.ordiscan.com"
  ORDISCAN_API_KEY: "YOUR_API_KEY_HERE"

