apiVersion: v1
kind: Secret
metadata:
  name: investec-secret
type: Opaque
stringData:
  INVESTEC_X_API_KEY: ""
  INVESTEC_CLIENT_ID: ""
  INVESTEC_CLIENT_SECRET: ""
  GEMINI_API_KEY: ""
  GEMINI_MODEL: "gemini-2.5-flash"
  GOOGLE_SEARCH_API_KEY: ""
  GOOGLE_SEARCH_ENGINE_ID: ""
  OLLAMA_MODEL: "tinyllama:latest"
  CITY: "cape town"
  DATABASE_URL: "postgresql://app:password@postgres:5432/investec"

